name: Market_Data_Sync

on:
  schedule:
    # 台灣時間 06:30 = UTC 22:30
    - cron: '30 22 * * *'
  workflow_dispatch: # 允許手動執行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests bs4 gspread oauth2client pandas urllib3 lxml

      - name: Run Market Data Script
        env:
          GOOGLE_CREDS_JSON: ${{ secrets.GOOGLE_CREDS_JSON }}
          SHEET_ID: ${{ secrets.SHEET_ID }}
        run: python fetchdata.py
